.large-9.large-offset-1.columns
	%h4.bold Open Questions
	%h5 Here you can ask questions about the companies you want to know about anonymously
	%br
	%br
	

	- @question.each do |question|
		.row
			.small-2.columns
				= link_to image_tag(question.load_company.logo.url), question.load_company		
			.small-10.columns
				.small-text
					Question added about
					= question.company_name
				%br
				%b= link_to question.question_content, question
				-if false
					%br
					.small-text Follow Question
					-# if no_answers then write
					Four people are waiting for an answer
					%br
					%br
					%b Four Answers have been given
		%hr 