	<div class="new-comment" id="comment-<%=@note.id%>">
		<div class="comments-header">
			<span class="time"><%= (@note.updated_at).localtime.strftime("%d %b %I:%M %P") %></span>
			<span class="pull-right time"><%= link_to "Delete", @note, method: :delete,
																  remote: true, data: { confirm: 'You Sure?'}%>
			</span>
			<br />
		</div>
		<%= simple_format(@note.info) %>
	</div>