
	<div class="info-message">	
	
		
		<div class="center-alignment">	
			
			<h1 class="big-title-text">Use your networks <span class="green-font">constructively</span></h1>
			<p class="intro-text">Groups, Info, Chat and Meetings to help you achieve goals</p>
			
		</div>
				
		
		<% if false %>	
			<div class="info-text hide" id="content-2">
				<h1>We list them all.</h1>
					<br />
					<div class="row-fluid">
						<div class="span4">
							<h2><%= Company.count%></h2>
							<p>Reputable<br/> companies listed</p>
						</div>
						<div class="span4">
							<h2><%= Job.count %></h2>
							<p>Active jobs open for students</p>
						</div>
						<div class="span4">
							<h2> 500  </h2>
							<p>Number of grad jobs & internships in Australia</p>
						</div>
					</div>
			</div>
		
		

			<br />Have their face as a circle here too!
			<br />Another line: "You want to be on ResQuery"
		
		
			<p> Are job apps being too messy?
				<br />
				Have an image of the app here
				<br />
				<br />
				ResumeQuery lets you focus on doing your job apps by making finding jobs and
				managing your apps easy</p>
		<% end %>
	</div>
