<div class="sellingpoints">
	<h3>resumeQuery alpha</h3>	
	</br>
	<div class="divider" style="width:100%;background-color:white;height:1px;">
	</div>
	</br>
	<h4>We will never take money from employers</h4></br>
	<p>We made this website to help <strong>you</strong> get employment. Not forward
		the agenda of the companies and their HR.</p>
		
	<p>This allows us to maintain our independence in giving you advice.</p>
	
	</br>
	
	<div class="divider" style="width:100%;background-color:white;height:1px;">
	</div>

	</br>
	<h4>Our first and foremost goal is to help you</h4>
	<p>Information.</p>
	</br> 
</div>