<% cache do %>
	<div class="info-message">	
		<h1>Manage your job applications <strong>easier</strong></h1>
		<p>"Keeping track of all those companies and jobs without losing all our notes -on
			a single spreadsheet- was a pain. ResQuery is much better."</p>
		-- Someone, Y Director at Z Society & BCom/Law Student at UNSW
		
		<% if false %>
		<p> Are job apps being too messy?
			<br />
			Have an image of the app here
			<br />
			<br />
			ResumeQuery lets you focus on doing your job apps by making finding jobs and
			managing your apps easy</p>
		<% end %>
	</div>
<% end %>