<% cache do %>
	<div class="info-message">	
		
		
		<div class="info-text" id="content-1">
			
			<h1>Manage your job applications <strong>easier</strong></h1>
			<br />
			<p>"Keeping track of all those companies and jobs without losing all our notes -on
				a single spreadsheet- was a pain. ResQuery is much better."</p>
			<br />
			<div class="row-fluid">
				<div class="span1">
					<div class="wrapper">
					<%= link_to image_tag('spacecamp.jpg'), '#', :class => "wrapper"%>
					</div>
				</div>				
				<div class="span8 info-subtext">
					Jane is the Y Director at Z Society <br /> and studies BCom/Law at UNSW
				</div>
			</div>
		</div>
		
		<div class="info-text hide" id="content-2">
			<h1>We list all the best graduate
				 and internship jobs available for you</h1>
				<br />
			<p>We don't profit from employers so we can put students first.
				This means we don't just list the companies that have paid us, we list all that
				we can find for you</p>
		</div>
		
		<div class="info-text hide center-alignment" id="content-3">
			<h1>The numbers to show that we make it easier too:</h1>
			<br />
			<div class="row-fluid">
				<div class="span4">
					<h2><%= Company.count%></h2>
					<p>Reputable<br/> companies listed</p>
				</div>
				<div class="span4">
					<h2><%= Job.count %></h2>
					<p>Active jobs open for students</p>
				</div>
				<div class="span4">
					<h2> 500  </h2>
					<p>Number of grad jobs & internships in Australia</p>
				</div>
			</div>



		</div>
		
		<% if false %>
		<br />Have their face as a circle here too!
		<br />Another line: "You want to be on ResQuery"
		
		
		<p> Are job apps being too messy?
			<br />
			Have an image of the app here
			<br />
			<br />
			ResumeQuery lets you focus on doing your job apps by making finding jobs and
			managing your apps easy</p>
		<% end %>
	</div>
<% end %>