<div class="sellingpoints">
	<h4>We will never take money from employers</h4>
	<p>We're committed to help <strong>you</strong> get employed and
		we won't compromise on our independence to achieve that.</p>
	
	</br>
	
	<div class="divider" style="width:100%;background-color:white;height:1px;">
	</div>

	</br>
	<h4>Our first and foremost goal is to help you</h4>
	<p>Information.</p>
	</br> 
</div>