<div class="newUser">
	<div class="container">
		<div class="row">
			<div class="span3 offset1">
				<%= render 'devise/registrations/signup_copywrite'%>
			</div>	
	
			<div class="offset1 span6">
				<%= render 'devise/registrations/signup_form'%>
			</div>
	
		</div>
	</div>
</div>
