<h1> Edit Answer </h1>

<%= form_for [@bulletable, @bullet]  do |f| %>
	<!-- Insert Error form and associated div class later -->
	
	<div class = "field">
		<%= f.text_field :bulletpoint, rows: 3 %>
	</div>	
	<div class = "actions">
		<%= f.submit %>
	</div>
<% end %>
