<h1> Bullets </h1>

<div id = "bullets">
	<% @bullets.each do |bullet| %>
		<div class = "bullet">
			<%= simple_format bullet.bulletpoint %>
			<%= link_to bullet.bulletpoint, "bullets/#{bullet.id}/edit" %>
		</div>
	<% end %>
</div>

<p> <%= link_to "New Bullet point", [:new, @bulletable, :bullet ]   %>