<html>
<head><title>Welcome to DemPoints!</title></head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" bgcolor='#ffffff' >


<STYLE>
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);
body{	font-family: 'Noto Sans', sans-serif;}
.headerTop{background-color:#FC6;border-top:0 solid #000;border-bottom:1px solid #FFF;text-align:center}
.adminText{font-size:10px;color:#960;line-height:200%;font-family:verdana;text-decoration:none}
.headerBar{background-color:#FFF;border-top:0 solid #333;border-bottom:10px solid #FFF}
.title{font-size:20px;font-weight:700;color:#C60;font-family:arial;line-height:110%}
.subTitle{font-size:11px;font-weight:400;color:#666;font-style:italic;font-family:arial}
.defaultText{font-size:12px;color:#000;line-height:150%;font-family:trebuchet ms}
.footerRow{background-color:#FFC;border-top:10px solid #FFF}
.footerText{font-size:10px;color:#960;line-height:100%;font-family:verdana}
a{color:#1c51a8}
h1{font-size:16pt;line-height:100%}
</STYLE>



<table width="100%" cellpadding="10" cellspacing="0" class="backgroundTable" bgcolor='#ffffff' >
<tr>
<td valign="top" align="center">




<table width="550" cellpadding="20" cellspacing="0" bgcolor="#FFFFFF">
<tr>
<td bgcolor="#FFFFFF" valign="top" style="font-size:10pt;color:#000000; text-align:left;" align="left">

<p style="text-align:justify">
	<%= image_tag attachments['DemPointsLogo.png'].url%>
	</br></br>
	<h2>Hi <%= @user.first_name %>,</h2>
</p>

<p style="text-align:justify">
	
Welcome to DemPoints and thanks for signing up. You have joined hundreds of other students who are sharing career knowledge online to get ahead. 
</p>

<p><a href = "http://www.dempoints.com/users/sign_in"> Sign into your account now here</a><p>

</br>
Wishing you the best of success,
</br>
The Team at DemPoints











</td>
</tr>

<tr>
<td style="background-color:#ececec;border-top:10px solid #FFFFFF;" valign="top">
<span style="font-size:10px;color:#898989;font-family:verdana;">
Copyright &#169; DemPoints. All Rights Reserved.<br /><br />
Room 1025, Quadrangle Building, UNSW Sydney NSW 2052<br />
Contact us at <a href="mailto:team@dempoints.com">team@dempoints.com<br />


</span>
</td>
</tr>

</table>












</td>
</tr>
</table>






</body>
</html>