/ _comment.html.haml

%div.comment{ :id => "comment-#{comment.id}"}

	.row-fluid
		.span1
			.circle-index-comment
				- if comment.user.avatar_file_name != nil
					= image_tag comment.user.avatar.url, :class => "circle-index-comment"
		.span11
			.comment-writing
				%h5
					=comment.user.first_name
					%small= comment.updated_at
					- if can? :destroy, Group
						=link_to "x", comment_path(comment), method: :delete, remote: true, confirm: "Are you sure?", disable_with: "x", class: 'close'
				%p= comment.body