%ul
	-@comment.each do |comment|
		%li
			= comment.title
			|
			= comment.body
			| 
			=comment.subject
			|
			=link_to "Delete", comment_path(comment), method: :delete, remote: true, confirm: "Are you sure?", disable_with: "x"