<div class="profileSpot">
	<h5>ResumeQuery Construction Completion</h5>
	<div class="row-fluid">
		<div class="span5">
			<div class="circleWrapperSmall"></div>
		</div>
		<div class="span7">
			<p>We have to add a few more features still! We need
				Proper questions, and 
				a companies database with a forum for each
				potential job!</p>
		</div>
	</div>
</div>