<div class="profileSpot">
	<p>Submit a company, job or feature request</p>
	<%= form_for @problem, :as => :problems do |f| %>
		<%= f.text_area :problem, :placeholder => 
			 "We really appreciate your input!" %>
		<%= f.hidden_field :reporter_id, :value => current_user.id %>
		<%= f.submit "Submit", :class=>"btn btn-success" %>	
	<% end %>
</div>