<div class="profileSpot">	
	<h4>Resume Stats</h4>
	<div>
		<ul>
			<li>You have <%= current_user.schools.count %> Schools</li>
			<li>You have <%= current_user.employments.count %> Employments</li>
			<li>You have reviewed your resume 4 times with friends</li>
			<li>You have reviewed your resume 0 times with the team at resumeQuery</li>
		</ul>
	</div>
</div>
