<% if signed_in? %>

<div class="hierachy">
	<div class="row-fluid">
		<div class="span12 bottom-border">
			<b>Knowledge Base</b>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row-fluid">
<% else %>		
<div class="container">
	<div class="row">
<% end %>
		<% if !signed_in?%>
			<hr><br/>
		<% end %>
		<div class="span12">
			<h1>Knowledge Base </h1></br>
			<h4><b> Investing Banking</b></h4>
			<ul>
				<li> Manual Link to first article </li>
			</ul>
		</div>
	</div>
</div>