<% if signed_in? %>

<div class="hierachy">
	<div class="row-fluid">
		<div class="span12 bottom-border">
			<b>Knowledge Base</b>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row-fluid">
<% else %>		
<div class="container">
	<div class="row">
<% end %>
		<% if !signed_in?%>
			<hr><br/>
		<% end %>
		<div class="span12">
			<h1>Knowledge Base </h1></br>
			
			<ul>
				<li> <%= link_to "How to prepare for Internship season", 'articles/8' %> </li>
				<li> <%= link_to "Resume & Cover Letter Services", 'articles/9' %> </li>
			</ul>
			
			
			<h4><b> Investing Banking</b></h4>
			<ul>
				<li> <%= link_to "How to prepare an M&A Deal for an Investment Banking Interview", 'articles/1' %>  </li>
				<li> <%= link_to "The Art of the Investment Banking Cover Letter", 'articles/2' %> </li> 
			</ul>
		</div>
	</div>
</div>