<div class="row-fluid">

	<div class="span12">

		<div class="green-heading">
			<h3>How can we help?</h3>
		</div>
		Have you found any bugs on the website?<br />
		Do you think we can improve the website to help you more?<br /> 
		We're more than happy to hear from you, and we'll try to get back to you ASAP!
		<br />
		<%= form_for @problem do |f| %>
	
			<%= f.text_area :problem %>
			<%= f.hidden_field :reporter_id, :value => current_user.id %>
	
			<%= f.submit %>
	
		<% end %>
	</div>
</div>