<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<%= @job.name %>
			<%= @job.discipline %>
			<%= @job.info %>
		</div>
		<div class="span3">
			<%= link_to 'Edit this Job', edit_job_path%>
		</div>
	</div>
</div>