<div class="row">
	<div class="alphaSignup">
		
		<%= link_to new_user_registration_path do %>
		<h3>We want to create the best tools to help you get employed</h3>
		<h3>Sign up to our limited alpha and help us build something that can really help</h3>
		<% end %>
	</div>
</div>