<div class="copywriteArea">
	<%= link_to image_tag('alpha-logo.png'), root_path%>
	
	<div class="pull-right">
		<div class="copywriteAreaRight">
		</br>
		<p>Happy <%= Time.now.strftime("%A") %> !</br>
		Something Broken or can be improved here?</p>
		</div>
	</div>
	
</div>

<%=render 'staticpages/linebar'%>