
	<div class="copywrite-area background-white">
		<br />
		<div class="container">	
			<div class="row">
				<div class="offset1 span10">
					<%= link_to image_tag('alpha-logo.png'), root_path, :class => "home-logo" %>

					<div class="pull-right">
						<div class="copywriteAreaRight">
						</br>  
						<%= link_to 'Sign in', new_user_session_path, :class => "sign-in-button" %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br />
	</div>

