<div class="copywriteArea">
	<div class="container">
		<div class="row">
			<div class="span12">
				<h3>This site helps you build a solid resume</h3>
				<p>By asking you the right questions that bring out the best of you to potential employers</p>
			</div>
			
			<div class="span2">

			</div>
		</div>	
	</div>	
</div>