<div class="foursteps">
		
	<div class="stepByStep">
		<div class="row">
			
			<div class=" span3">
				<div class="circleWrapper">
					<%= link_to image_tag('test0.jpg'), structure_path%>
				</div>	
				<h3>Structure</h3>
				<p>Use our structuring tool to get your resume looking right for HR</p>
			</div>
			
			<div class="span3">
				<div class="circleWrapper">
					<%= link_to image_tag('test1.jpg'), resumeQuestions_path%>
				</div>
				<h3>Flesh out</h3>
				<p>Ask you the right questions to make you stand out on your resume</p>
			</div>
			
			<div class="span3">
				<div class="circleWrapper">
					<%= link_to image_tag('test2.jpg'), feedback_path%>
				</div>
				<h3>Feedback</h3>				
				<p>Ask your friends or ask us for honest and solid feedback</p>
			</div>
			
			<div class="span3">
				<div class="circleWrapper">
					<%= link_to image_tag('test3.jpg')%>
				</div>
				<h3>Manage</h3>
				<p>Manage your job applications and better understand employers</p>
			</div>
		</div>
		
		
	</div>
	
</div>