<div class="foursteps">
	
	<div class="fourStepsMessage">
		<h2>How you can increase your chances of employment:</h2>

	</div>
	
	<div class="stepByStep">
		<div class="row">
			<div class=" span3">
				<p>Help get your resume in the right structure</p>
			</div>
			<div class="span3">
				<p>Ask you the right questions to make you stand out on your resume</p>
			</div>
			<div class="span3">
				<p>Ask your friends or ask us for honest and solid feedback</p>
			</div>
			<div class="span3">
				<p>Manage your job applications, with us giving you the key things employers are looking for</p>
			</div>
		</div>
	</div>
</div>