.home-page
	.center-alignment.home-logo

		%br
		%span(class="large-orange-text") Find and Share Career Advice

=link_to new_user_registration_path do
	.item-images
		.row-fluid
			.offset1.span5
				%h4 "It's a treasure trove of career advice inside!"
				%span(class="grey-area") - 4th Year Commerce/Law UNSW Student
			.span5
				=image_tag('http://s3-ap-southeast-2.amazonaws.com/static-images-resquery/group.jpg')


		.row-fluid
			.center-alignment
				=link_to new_comment_path do
					.signup-button
						Can you help others out? &nbsp Want to explain how things actually work?
						%br Share some advice

.center-alignment.dashboard
	=render 'layouts/facebook_like_large'
