.tiny-orange
.home-page
	.dashboard
	.center-alignment.home-logo
		=link_to image_tag('http://s3-ap-southeast-2.amazonaws.com/static-images-resquery/white-logo.png'), root_path 			
		
.item-images
	.container
		.row-fluid
			.offset2.span4
				.dashboard
				%h4 Student Career Advice Libary
				%br
				%span(class="grey-area")
					DemPoints is the f
		
		
.container
	.row-fluid
		.offset3.span6
			.dashboard
				.center-alignment
					=render 'layouts/facebook_like_large'
