.homepage
	.row.pad-top
		.large-6.large-offset-1.columns.copywrite
			%h3.bold About DemPoints
			Founded by two UNSW students who held leadership positions at student societies, Dempoints is an online platform to read, create and share job advice by students for students. 
			%br
			%br
			Whether an engineer, a prospective lawyer, a future consultant or a marketer to-be, DemPoints is one reference point (of many) for you to help you find out what it really takes to enter these industries and give you a better idea of what you're aiming for.
			%br
			%br
			Our guiding principle with DemPoints is to give every student the opportunities we had when we applied for our internship & grad jobs.
