.dashboard

.row-fluid
	.span6
		%h3 About us

.row-fluid
	.span6
		.about-area
			.about-text
				%p DemPoints stands for Democratising Points. 
				%br
				%p Our guiding principle is to give every student the opportunities we had when we applied for our internship & grad jobs.
				%br
					
	.span3
		-#about-area
	