- if !signed_in?
	.tiny-orange

.dashboard
	
- if !signed_in?	
	.container
		.row-fluid
			.span12
				.home-logo
					= link_to image_tag('white-logo.png'), root_path	
	%br
	%br
	%br
	
.container.about
	.row-fluid
		.span6
			
			%h3 About Us

	.row-fluid

			
		.span8
			.about-area
				.about-text
					%b
						%p Founded by two UNSW students who held leadership positions at student societies, Dempoints is an online platform to read, create and share job advice by students for students. 
					%br
					%p Whether an engineer, a prospective lawyer, a future consultant or a marketer to-be, DemPoints is one reference point (of many) for you to help you find out what it really takes to enter these industries and give you a better idea of what you're aiming for.
					%br
					%p Our guiding principle with DemPoints is to give every student the opportunities we had when we applied for our internship & grad jobs.
					%br
				
		.span4
			.info-box-yellow
				Number of Students
				%br
				%br
				%h5 200+
				%br

			.info-box-light-teal
				Companies with reputable graduate and internship jobs listed
				%br
				%br
				%h5= Company.count
				%br
			.info-box-light-orange
				Number of industries represented
				%br
				%br
				%h5= Category.count
				%br



					
			-#about-area
- if !signed_in?
	.about-bottom
	