.dashboard

.row-fluid
	.span6
		%h3 About us


.row-fluid
	.span6
		.about-area
			.about-text
				%p ResumeQuery is a graduate job and internship listing website. We are the most comprehensive list of reputable graduate and internship jobs in Australia to students.
				%br
				%p Our aim is to get you quickly applying for the best jobs in industry when it's time to.
	.span3
		.about-area
			hello