<div class="container">
	<div class="row">
		<p>note: create a signed in controller
		how to use full width of page? </p>
			<%= link_to 'sign out!', destroy_user_session_path, :method =>'delete' %>
	</div>
</div>