<div class="dashboardHeader">
	<div class="container-fluid">
		<div class="row-fluid">

			<p>There's more to a good resume than just what you've done</p>

		</div>
	</div>
</div>


<div class="container-fluid">
	<div class="row-fluid">
		<div class="span4">
			<div class="dashboardBar">

			</div>
		</div>
		<div class="span8">
			<div class="resumeView">
				<%= render 'dashboard/current_resume'%>
			</div>
		</div>
	</div>		
</div>