<div class="container">
	<div class="row">
		
		<%= render 'staticpages/fourSteps' %>
		
		<div>
			User Details:
			<ul>
				<li><%= link_to 'Settings', edit_user_registration_path %></li>
			</ul>
			
		</div>
		
	</div>
</div>