<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<div class="dashboardBar">
				
				
				
			</div>
		</div>
		<div class="span8">
			<div class="resumeView">
				<%= render 'dashboard/current_resume'%>
			</div>
		</div>
		
		<div class="span1">

		</div>
		
	</div>		
</div>