.dashboard

.row-fluid
	.span6
		%h4(class="applist-area")
			Jobs Area &nbsp - &nbsp
			
			
		-@jobs.each do |job|
			.appManage
				%b= job.show_company_name
				- 
				=job.name
				
				=link_to "Follow", root_path
				
		%span(class="small-text") Export to excel (coming soon)
	.span3
		%h4(class="applist-area")
			Discover
		
	.span3
		%h4(class="applist-area")
			\#resumequery #jobapps 
		=render 'layouts/instagram_feed'
		#rQfeed
		#instafeed
