.tiny-orange

.home-page
	.dashboard
		
		.container
			.row-fluid
				.offset3.span6
					.center-alignment
						= link_to image_tag('white-logo.png'), root_path 
						.home-page-text
							Your infinite leg-up network.
						.dashboard
						=link_to new_user_registration_path do
							.account-button
								Sign Up
						=link_to new_user_session_path do
							.account-button
								Login