<%= link_to new_user_registration_path do %>
	<div class="infoBar">
		<div class="container">
			<div class="row">
				<div class="span7">
					<h1>Bring out your real accomplishments to your resume </h1></br>
					<h3>You won't have to worry about hiding your true worth with our
						 questionnare and peer review tools. </h3>
				</div>
				<div class="span5">
 					<div class="minorTitle circleWrapper">

					</div>
				</div>
			</div>
		</div>
	</div>
<% end %>
