<%= link_to new_user_registration_path do %>
	<div class="infoBar">
		<div class="container">
			<div class="row">
				<div class="span7">
					<div class="copyText">
						<h1>Bring out your real accomplishments to your resume </h1></br>
						<h3>Don't hide your true worth with our
							 questionnare and peer review tools. </h3>
					</div>	
				</div>
				<div class="span5">

				</div>
			</div>
		</div>
	</div>
<% end %>
