
= render partial: ab_test("landingpage", "threestep", "original") 

.about-bottom


=link_to "Sign In", new_user_session_path, :class => "signinbox-button" 
=link_to "About Us", about_path, :class => "about-button"

