<%= link_to new_user_registration_path do %>
	<div class="infoBar">
		<div class="container">
			<div class="row">
				<div class="span12">
					<div class="copyText">
						<h1>Bring out your real </br>accomplishments to your resume </h1>
						</br>
						<h4>Show your true worth to the right employers with our
							 resume tools. </h4>
						</br>
						<div class="btn btn-large btn-success">
							Sign up to the limited UNSW Beta
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="steps">
				<p>We're currently building resume and employer profiles for:</p>
				Circle with: Commerce Comptuer Science and Law
			</div>
		</div>
	</div>
	
<% end %>
