<%= link_to new_user_registration_path do %>
	<div class="infoBar">
		<div class="container">
			<div class="row">
				<div class="span12">
					<div class="copyText">
						<h1>Bring out your real </br>accomplishments to your resume </h1>
						</br>
						<h4>Show your true worth to the right employers with our
							 resume tools. </h4>
						</br>
						<div class="btn btn-large btn-success">
							Sign up to the limited UNSW Beta
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="span4">
				<div class="listCopy">
					<h5>Join your peers in:</h5>
					<ul class="unstyled">
						<li><i class="icon-check"></i> Improving the structure of your resume</li>
						<li><i class="icon-flag"></i>  Differentiating yourself against other applicants</li>
						<!-- unfalse this when database is implemented -->
						<% if false %>
						<li><i class="icon-info-sign"></i> <del>A database of employers & how they hire</del></li>
						<li><i class="icon-comment"></i><del> Anonymous discussion board about employers</del></li>
						<% end %>
					</ul>	
				</div>
			</div>
			<div class="span8">
				<div class="steps">
					<p>We're currently building resume and employer profiles for:</p>
					Commerce, Computer Science and Law students | Place some images here
				</div>
			</div>
		</div>
	</div>


	
<% end %>
