
<div class="container">
	Really should have a proper signed in page like facebook.
	Need links to actions
	</br>
	-Top bar like fb.
	</br>
	Honestly use this as a template: <%= link_to 'click here', 'http://dribbble.com/shots/1022066-Snappy-UI?list=following' %>
</div>