.dashboard	
- unless signed_in?	
	.container
		.row-fluid
			.span12
				.home-logo
					.center-alignment
						= link_to image_tag('http://s3-ap-southeast-2.amazonaws.com/static-images-resquery/white-logo.png'), root_path	
	%br
	%br
	
.container.about
	.row-fluid
		.offset2.span8
			.center-alignment
				%h2 DemPoints just keeps getting better.
				%span(class="large-text") Here are the very latest features and updates
				
			.info-box-updates
				%h4(class="orange-text")
					%p Career Q&A the right way
					%br
				%p
				%p Point on: questions from informal network, value-add, multiple sources
				
- if !signed_in?
	.about-bottom
