<h2>Plan to offer feedback</h2>

<p>Should have a passcode here for people to access the questionnare page </p>
<p>Help</p>

	
	<p>Pages for this website</p>
	<ul>
		<li>Page to help you with structure</li>
		<li>Page to help you with your dotpoints are</li>
		<li>Page to help you with feedback</li>
	</ul>
	
	
	
	<div class="howItWorks">
		<ul>
			<li>Step 1: Create a resume with the right visual structure</li>
			<li>Step 2: Use our questionnare to help you develop strong and interesting dot points</li>
			<li>Step 3: Work with our team to get feedback to help you get amazing results!</li>
	</div>
	
	
	
	
	
	
	<!-- Top of page -->

	<div class="topbar">
		<div class="container">
			<p>Happy <%= Time.now.strftime("%A") %> !
				<span class="pull-right">Alpha Build - Applicable to Australian Undergraduates only</span></p>
		</div>
		<!-- <p>Helpful resume builder<p>  -->
	</div>
