<h1> Answers </h1>

<div id = "Answers">
	<% @responses.each do |response| %>
	
		<div class = "response">

			<%= link_to response.answer, "#{response.id}/edit" %>
		</div>
	<% end %>
</div>

<p> <%= link_to "Add Answer", [:new, @responseable, :response ] %>