<h1> New Answer </h1>

<%= form_for [@responseable, @response]  do |f| %>
	<!-- Insert Error form and associated div class later -->
	
	<div class = "field">
		<%= f.text_area :answer, rows: 3 %>
	</div>
	
	<div class = "actions">
		<%= f.submit %>
	</div>
<% end %>
