<div class="container">
	<div class="row">
		<div class="span8 jobIndex">
			<h3>Companies List</h3>
			<ul class="unstyled">
				<% @allCompanies.each do |c| %>
					<%= link_to c do %>
						<li><strong><%= c.name %></strong> - <%= c.industry%>  
							<% if c.has_number_of_jobs != 0 %>
								<span class="pull-right"><%= c.jobs.count %> Job Opportunities</span>
							<% end %>
						</li>
					<% end %>
				<% end %>
		</div>
	</div>
</div>