.large-9.large-offset-1.columns
	%script
		$(document).ready(function() { $("#search").select2({  width: 'resolve', placeholder: "Sort by industry" });});

	.row-fluid
		.span6
			= form_tag companies_path, :method => 'get' do
				= select_tag :industry_id, options_from_collection_for_select(Industry.all, "id", "industry"), include_blank: true, :onchange => "this.form.submit()", :id => "search"
	
	- @company.each do |company|
		.company-box
			=link_to (company) do
				= image_tag(company.logo.url(:thumb))
				&nbsp &nbsp 
				= company.name
			%hr