<div class="hierachy">
	<div class="row-fluid">
		<div class="span12 bottom-border">
			<b>Companies List</b>
			<span class="pull-right"><%= render 'layouts/swiftype'%></span>
		</div>
	</div>
</div>

	<div class="row-fluid">
		<div class="span12">
			<h3></h3>
			<p class="grey-text"> <%= Company.count %> companies which offer  
				reputable grad and internship opportunities </p><br />
		</div>
	</div>	

	<div class="row-fluid">
		<div class="span10 jobIndex">
			<ul class="unstyled">				
				<%= render 'companies' %>
			</div>
	</div>
