#container
	- @company.each do |company|
		.item
			.info-box-light-orange
				.pad-top-tiny
				.center-alignment
					- if !company.logo.url.blank?
						= image_tag(company.logo.url)
						%h5= link_to company.name, company
				=company.industry
				%br
				-#company.info
				%br
				=link_to company.website do
					%i(class="icon-briefcase")
					Go to company website
				%br				
				- #image_tag('whirlpool-logo.png', size: "15x15") 
				- #Go to Whirlpool Forum
