<div class="container">
	<div class="row">
		<div class="span8 jobIndex">
			<h3>Companies List</h3>
			<ul class="unstyled">
				<% @allCompanies.each do |c| %>
					<%= link_to c do %>
						<% if c.has_number_of_jobs != 0 %>
							<span class="badge badge-success"><%= c.jobs.count %> Opportunities</span>
						<% end %>
						<strong><%= c.name %></strong> - <%= c.industry%>
					<% end %>
					<br />
				<% end %>
		</div>
	</div>
</div>