<div class="container-fluid">
	<div class="row-fluid">
		
		
		
		<div class="offset3 span6">
		<div class="errorTitle">
			<h4>Oops! We can't find the page you're looking for</h4>
			<%= link_to 'Go Home', root_path%>
		</div>
		
	</div>
</div>