<div class="margin-top">
	<%= link_to jobs_path do %>
		<h4>Start tracking jobs now!</h4>
		<p> ResQuery is great for reducing the stress and business of job applications
			 by having them all sorted in one place for you </p>
	<% end %>
</div>


<div class="row-fluid margin-top">
	<div class="span6">
		<h5>Things from our knowledge base:</h5>
		Here have some Articles
	</div>
	<div class="span6">
		<h5>Jobs that might interest you:</h5>
		<% @jobs.each do |job| %>
			<%=link_to job.name, job %><br />
		<% end %>
	</div>
	
</div>