<% cache "job_opportunities" do %>
	<h3>More Job Opportunities</h3>
	<ul>
		<% @jobs.each do |j| %>
			<%= link_to j do %>
				<li><strong><%= j.find_company.name %></strong> - <%= j.name %>
				</li>
			<% end %>
		<% end %>
	</ul>
<% end %>