<div class="row-fluid">
	<div class="span12 dashboardBar">
		<p><%= current_user.first_name%>'s ResumeQuery Dashboard</p>
		<ul class="inline"<>
			<li><%= link_to '1. Write up your resume', resume_path%> </li>
			<li><%= link_to '2. Bring out your value'%> </li>
			<li><%= link_to '3. Review your resume'%> </li>
			<li><strike>4. View Companies & Manage apps (being built)</strike></li>	
			<li class="pull-right"><strike>Export your resume</strike></li>
		</ul>
	</div>
</div>