<div class="container">
	<div class="row">
		<div class="span12 profileSpot jobList">
			<div class="row">
				<div class="span8">
					<%= render 'dashboards/show_most_jobs' %>
				</div>					
				<div class="span4">
					</br>
					<%= render 'dashboards/show_most_companies' %>

				</div>
			</div>
		</div>
	</div>
	
	
	<div class="row">
		<div class="span12">
			<hr>
			<%= render 'shared/report_problems' %>	
		</div>
	</div>
