<div class="row-fluid">
	<div class="span12 profileSpot">
		<div class="row-fluid">
			<div class="span9">
				<h3>The jobs you're following</h3>
				<p>Manage the status of the jobs you're applying for and find out about more companies.
					Click on the company name for more information</p>
			</div>
		</div>
	</div>
</div>