<div class="container">
	<div class="row">
		<div class="span12">
			<ul>
				<% @list.each do |user| %>
					<li><%= user.first_name %> <%= user.email%></li>
				<% end %>
				
				<p>There are <%= Company.all.count %> Companies</p>
			</ul>
		</div>
	</div>
</div>