<div class="container-fluid">		
	<div class="row-fluid">
		<div class="span2 ">
			<div class="left-dashboard">
				<%= link_to image_tag('resumeQuery_white.png'), root_path %>
				<li><%= link_to 'User Settings', edit_user_registration_path %></li>
				<li><%= link_to 'Log Out', destroy_user_session_path, :method =>'delete' %></li> 
			</div>
		</div>
		<div class="span10">
			<%= render 'dashboards/appmanage' %>
		</div>
	</div>		
</div>