<div class="container-fluid">
	
	</br><!-- remove line break with styling -->
	
	<div class="row-fluid">
		
		<div class="span12 dashboardBar">
			<ul class="inline">
				<li><strong>Add the first: </strong></li>
				<li><%= link_to 'Write up your resume', resume_path%></li>
				<li><%= link_to 'Bring out your value'%></li>
				<li><%= link_to 'Review your resume'%></li>
				<li><%= link_to 'View Companies'%></li>				
			</ul>	
		</div>
	</div>
	
	<div class="row-fluid">
		
		<div class="span8">
			
			
		</div>
		
		<div class="span4">
			
			
			
		</div>
		
		
		
	</div>
	
	
</div>