#container
	.item
		.info-box-light-orange
			.center-alignment
				%h5 Welcome to DemPoints!
				%br You can post interesting and useful points about companies & their intern/grad jobs here
				
				- # 'finished' code is from finishing the A/B test
				-finished("signup_title") 
				
	- @comments.each do |comment|
		=render partial: 'layouts/card', locals: { comment: comment }
	