#container
	- xar = 0
	- 20.times do
		-if xar%2 == 0
			.item
				=link_to 'http://www.careers.unsw.edu.au/', :target => '_blank' do 
					.info-box-light-teal
						.center-alignment
							=  image_tag('unsw.png')
							%h5 At UNSW? Don't lose a chance to stand out
							There's a brilliant team at UNSW Careers & Employment waiting to improve your resume and apps. Get in before its busy.
		-else 
			.item 
				.info-box-light-orange
					.center-alignment
						=  image_tag('atom.png')
						%h5 ResumeQuery is an open platform
						Anyone can edit and add jobs or companies. Help build a powerful database of the best jobs for students so they can make the world a better place.						Anyone can edit and add jobs or companies. Help build a powerful database of the best jobs for students so they can make the world a better place.						Anyone can edit and add jobs or companies. Help build a powerful database of the best jobs for students so they can make the world a better place.						Anyone can edit and add jobs or companies. Help build a powerful database of the best jobs for students so they can make the world a better place.
		- xar += 1 
