.large-9.large-offset-1.columns
	.row.negative-padding
		.small-12.columns
			.index-area
				%b Industries
				%br
				-@industries.each do |industry|
					=link_to industry.industry, industry
					&nbsp &nbsp - 
				%br
				%br
				%b Majors

	.row.negative-padding
		.small-4.columns

				
		
		
			%h6 Latest bits of advice
			%h6
				-#link_to("Unlink your facebook account", user_path(current_user, :onboarding_stage => nil), :method => :put, :confirm => "Are you sure?") 
				-# need to link to custom action?
			
		.small-8.columns
			.text-right.show-for-medium-up
				-# link_to "Ask Question", '#', :class =>"button radius tiny alert"
				= link_to "Ask Question", new_question_path, :class =>"button radius tiny alert"
				= link_to "Add Advice", new_comment_path, :class => "button radius tiny"
				
	%hr
	=render 'layouts/feed_item'
