#container

	- @company.each do |company|
		.item
			.info-box-light-orange
				= company.name

	- xar = 0
	- 20.times do
		-if xar%2 == 0
			.item
				=link_to 'http://www.careers.unsw.edu.au/', :target => '_blank' do 
					.info-box-light-teal
						.center-alignment
							=  image_tag('unsw.png')
							%h5 At UNSW? Don't lose a chance to stand out
							There's a brilliant team at UNSW Careers & Employment waiting to improve your resume and apps. Get in before its busy.
		-elsif xar%3 == 0 
			.item 
				.info-box-light-orange
					.center-alignment
						=  image_tag('http://www.rb.com/site/rkbr/uploadedresources/rb_logo.gif')
						%h5 Reckitt Benckiser
						Anyone can edit and add jobs or companies. Help build a powerful database of the best jobs for students so they can make the world a better place.						Anyone can edit and add jobs or companies. Help build a powerful database of the best jobs for students so they can make the world a better place.						Anyone can edit and add jobs or companies. Help build a powerful database of the best jobs for students so they can make the world a better place.						Anyone can edit and add jobs or companies. Help build a powerful database of the best jobs for students so they can make the world a better place.
						

						
		- xar += 1 
