.dashboard

.row-fluid
	.span7
		- if @appList.count != 0
			%h4(class="applist-area")
				My Jobs List &nbsp - &nbsp
				= current_user.app_list_count
			
			- @appList.each do |apps|

				- job = apps.find_job
				- company = job.find_company
			
				= link_to apps do 
					.appManage
						.row-fluid
							.span8
								%b= company.name 
								\ &nbsp - &nbsp
								= job.name 
							.span2
								%span(class="red-text")=apps.status
							.span2
								.pull-right
								-if job.show_due_date == "Closed"
									%span(class="red-text")
										=job.show_due_date
								-else 
									=job.show_due_date
		-elsif @appList.count < 6
			=render 'layouts/quick_follow' 
									
									
			%span(class="small-text") Export to excel (coming soon)
	.offset1.span2
		=render 'layouts/discover'
	.span2
		%h4(class="applist-area")
			\ #jobapps 
		=render 'layouts/instagram_feed'
		#rQfeed
		#instafeed



