<div class="container-fluid">
	
	<%= render 'dashboards/steps'%>
	
	<div class="row-fluid">
		
		<div class="span4">
			
		</div>
		
		<div class="span7 resumeArea">
			<%= render 'dashboards/edit_resume'%>
		</div>
</div>