<div class="testme">
<div class="container-fluid">
	
	<%= render 'dashboards/steps'%>
	
	<div class="row-fluid">
		
		<div class="span4">
			
			<div class="profileSpot">
				<h5>The Structure of your resume </h5>
				
				<ul>
					<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi diam sem, euismod vel consequat ac, consequat placerat purus. Nullam vel quam augue. Etiam et quam purus, ac pretium metus.</li>
					</br>
					<li>Proin venenatis mi ut nisi ultricies sit amet semper nisl elementum. Morbi dapibus mi in nisi tempor sagittis. Quisque quis tortor a leo suscipit tempor sed non lacus. Nullam fermentum, lacus quis vehicula laoreet, leo eros dignissim felis, quis pellentesque est mi eu arcu. 
					</li>
				</ul>
			</div>
			
		</div>
		
		<div class="span8 resumeArea">
			<%= render 'dashboards/edit_resume'%>
		</div>
</div>
</div>