@import "bootstrap";
@import "bootstrap-responsive";

/* ========= SECTION: CONTENTS =========*/
/*
   1. STYLE VARIABLES
   2. UNIVERSALS
   3. HEADER
/*
/* ========= SECTION: CONTENTS =========*/



/* ========= SECTION: STYLE VARIABLES =========*/




/* greys */
$light-grey: #F2F2F2;
$background-grey: #f6f6f6;
$line-grey: #D6D6D6;
$dark-grey: #666A73;
$text-grey: #787878;
$light-text-grey:#9C9C9C;

/* greens */
$base-green:  #39b54a;
$top-green:   #54bb62;
$dark-green: #46724C;
$menu-green: #DEFCCA;
$link-green: #468966;


$light-aqua: #E8F2F2;
$dark-aqua:#003530;
$orange-midpoint:#FAD2AB;
$dark-orange:#DB7817;

/* other*/
$ft-color: #fff1e0;
$dark-red: #D41528;
$orange: #F18419;

/* standards */

$standard-padding: 20px;
$standard-shadow:0 4px 7px -5px $dark-grey;
$standard-line: 1px solid $line-grey;

/* ========= END SECTION: STYLE VARIABLES =========*/


@media (min-width: 1200px) {
  .span12, .container {
    width: 1170;
  }
}

@media (max-width: 978px) {
    body {
      padding:0;
    }

	.container{
		padding:10px;
	}

}


/* ========= SECTION: UNIVERSALS =========*/



html{
	height:100%;
}
a:hover{
		text-decoration:none !important;
}
body {
font-family: 'Oxygen', sans-serif;
	font-size:13px;
	height:100%;
	a{
		color:$dark-grey;
	}
}

textarea {
	width:95%;
	height:90px;
}

select {
	width:95%;
}

input {
	width:95%;
}

input[type='checkbox'] {
	margin:0px !important;

}


.signed-in{
	.container{

	}
}

.hidden{
	display:none;
}


.time {
	color:$text-grey;
	font-size:8px;
}

.web-link{
	overflow:hidden;
}

.pad-all{
	padding:$standard-padding;
}

.pad-top{
	padding-top:$standard-padding;
}

.pad-bottom{
	padding-bottom:$standard-padding;
}

.grey-text{
	color: $text-grey;
}

.center-alignment {
	text-align:center;
}

.big-font{
	font-size:15px;
	text-decoration:underline;
}

.red-text{
	color:$dark-red !important;
	a {
		color:$dark-red;
	}
}

.top-bottom-borders{
	border-top:$standard-line;
	border-bottom:$standard-line;
	padding:9px 0px;
}

.bottom-border{
	border-bottom:$standard-line;
}

.top-border{
	padding:9px 0px 0px;
	border-top:$standard-line;
}

.right-border{
	border-right:$standard-line;
}

.left-border{
	border-left:$standard-line;
}

.margin-top{
	margin-top:60px;
}

.margin-top-right-board{
	margin-top:59px;
}

h3 {
	color:$orange;
}

/* ========= END SECTION: UNIVERSALS =========*/



/* ========= SECTION: LEFT-BOARD =========*/

.logo {
	margin-top:$standard-padding*2;
}



.menu-area {
	padding-top:$standard-padding;
	li {
		padding:10px 0px 10px 10px;
		
	}	
	li:hover{
		background-color:$orange;
		color:white;
	}
}

.blank-area {
	height:140px;
}

.groups-list{

	li{
		padding:10px 0px 10px 10px;	
	}
	li:hover{
		background-color:$menu-green;
		color:$dark-green;
	}
}


.left-dashboard {
	
	min-height:100%;
	a:hover{
		text-decoration:none;
	}	
}

/* ========= END SECTION: LEFT-BOARD =========*/



.appManage {
	/*box-shadow: $standard-shadow;*/
	/*margin-top:-1px;*/
	font-size:13px;
	background-color:white;
	padding:20px 10px 9px 9px;


	border-bottom:1px solid $line-grey;	
	a {
		text-decoration:none;	
	}
}

.appManage:hover{
	background-color:$line-grey;

}

.appManage-status{
	text-align:right;
}



.group-feed{
	padding:9px 10px 0px 9px;
}


/* ========= SECTION: EDITER ON APPS_LIST =========*/

.editer {
	margin-bottom: $standard-padding;

}


.editer-header {

}

.editer-main{
	height:100%;
}


/* ========= END SECTION: EDITER =========*/


.copywrite-area{
	background-color:$orange;
	padding-top:30px;
	height:110px;
}

.footing {
	/*border-top:1px solid $line-grey;*/
	padding:$standard-padding;
}

.dash-area {
	padding-top:30px;
}

.companies-sell {
	box-shadow: 0 4px 6px -5px $dark-grey;
}

.info-bar {
	min-height:220px;
	background-color:$orange;
	margin-bottom:$standard-padding;
	padding:$standard-padding*3 0;

	background-repeat: no-repeat;
	background-size:cover;
	color:white;
	h1 {
	font-size:30px;
	line-height:45px;
	}
	a {
		color:white;
	}
	.sign-up-button{
		min-width:99%;
		padding: 3px 15px;

		color:$orange;
		border-radius: 4px;
	}

	.sign-up-button:hover, .sign-up-button:focus {
	    background: $orange-midpoint;
	    color: $menu-green;
	    border: solid 1px $orange-midpoint;
	    text-decoration: none;

	}
	h3{
		color:$light-aqua;
	}

}

.left-bar{
	.btn{
		width:100% ;
	}
}


.wrapper {
	height:55px;
	width:55px; 
	border-radius:55px; 
	overflow:hidden;
}

.info-subtext {
	padding-left:$standard-padding;
}

.checkbox-area{
	margin:0px 0px 8px;
}


.hierachy{
	padding:30px 0px 20px;
	font-size:16px;

}


.right-board{
	font-size:10px;
	line-height:15px;
	color:$light-text-grey;
	margin-right:-20px;
	margin-left:5px;
}


.right-board-info:hover{
	color:$dark-grey;
}

.right-board-heading{
	
	
	padding:0px 5px;
	padding-right:25px;
	background-color:$light-grey;
	color:$dark-grey;
	font-size:10px;
	font-weight:bold;
}

.right-board-info{
	border-bottom:1px solid $light-grey;
	padding:20*2px 5px 10*2px;

}

.article-content{
	font-size:17px;
	line-height:30px;
	color:$dark-grey;
}

.dashboard-heading{
	font-weight:bold;
	padding:9px 10px 0px 9px;	
}

.green-heading{
	color:$base-green;
}

.pull-up{
	margin-top:-10px;
	font-size:14px;
}

.st-search-input{
	margin:0px !important;
}

.label-list{
	padding:7px 5px;
	width:114px;
	text-align:center;
	margin-bottom: $standard-padding;
	border: 1px solid $dark-green;

}

.negative-margin{
	margin-left:-20px;
	margin-right:-20px;
}

.follow-button{
	width:81px !important;
}



.header{
	padding:40px 0px 0px;
	background-color:$orange;
	font-size:10px;
	a{
		color:white;
	}
	img{
		height:50px;
	}
}


.compose{
	text-align:center;
	width:70%;
	background-color:$base-green;
	padding:5px 0px;
	color:white;
	margin-top:10px;
	border-radius: 3px;
	margin-left:30px;
}


.badge{
	margin-right:5px;
}

@media (min-width: 1200px) {
  .span12, .container {
    width: 1170px;
  }
}

@media (max-width: 978px) {
    body {
      padding:0;
    }
	
	.container{
		padding:10px;
	}

}

.group-updates{
	padding-left:$standard-padding;
	color:$dark-grey;
}

.circle-left-board{
	border-radius:10px;
	background-color:$dark-red;
	width:20px;
	height:20px;
}

.circle-index-page{
	margin-top:10px;
	border-radius:40px;
	background-color:$dark-red;
	width:80px;
	height:80px;
}

.circle-index-page-grey{
	margin-top:10px;
	border-radius:40px;
	background-color:$dark-grey;
	width:80px;
	height:80px;
}

.circle-index-comment{
	border-radius:25px;
	background-color:$dark-red;
	width:50px;
	height:50px;
}

.circle-user-list{
	margin-top:10px;
	border-radius:20px;
	background-color:$dark-red;
	width:40px;
	height:40px;
}

.comment-writing {
	padding-left:10px;
}

.grey-text{
	color:$dark-grey;
}

.yellow-text{
	color:yellow;
	a{
		color:orange;
	}
}

.big-title-text{
	line-height:43px;
	font-size:32px;
	font-weight:700;
}



.intro-text{
	font-size:14px;
}

.sign-in-button{
	font-size:23px;
	font-weight:700;
	color:$dark-grey;
}

.sign-in-button:hover{
	text-decoration:none;
	color:white;
}

.sign-up-text{
	font-size:15px;
	font-weight:400;
	padding-bottom:10px;
}



.li-smaller-height{
	padding:3px 0px 3px 10px !important;
}

.home-logo{
	img {
		height:55px;
		width:204px;
	}
}

.my-jobs-button{
	height:40px;
	padding-top:15px;
	font-size:13px;
	border-right:1px solid $dark-orange;
	text-align:center;
	border-left:1px solid $dark-orange;
	width:134px;
	float:left;
}

.my-jobs-button:hover{
	background-color:$dark-orange;
}

.account-button{
	height:40px;
	padding-top:15px;
	font-size:13px;
	border-right:1px solid $dark-orange;
	text-align:center;
	width:80px;
	float:left;	
}

.account-button:hover{
	background-color:$dark-orange;
}

.applist-area{
	color:$dark-grey;
	border-bottom:1px solid $line-grey;
	padding-bottom:10px;
	padding-left:9px;
}

.dashboard{
	padding-top:55px;
}

.small-text{
	padding:9px;
	font-size: 8px;
	text-decoration: strikethrough;
}

.search-header{
	border-top:1px solid $text-grey;
	border-bottom:1px solid $text-grey;
	background-color:$line-grey;
	padding-top:25px;
}

.animation{
	img{
	padding:10px;
	}
}