@import "bootstrap";



/* ========= SECTION: CONTENTS =========*/
/*
   1. STYLE VARIABLES
   2. UNIVERSALS
   3. HEADER
/*
/* ========= SECTION: CONTENTS =========*/



/* ========= SECTION: STYLE VARIABLES =========*/

$standard-padding: 20px;


$base-green:  #39b54a;
$light-green: #B5F7C2;
$top-green:   #54bb62;
$light-grey: #F2F2F2;
$background-grey: #f6f6f6;
$ft-color: #fff1e0;
$line-grey: #D6D6D6;

/* ========= END SECTION: STYLE VARIABLES =========*/



/* ========= SECTION: UNIVERSALS =========*/
body {
	font-family: 'Noto Sans', sans-serif;	
	font-size:16px;
	height:100%;
}

textarea {
	width:95%;
	height:90px;
}

select {
	width:95%;
}

input {
	width:95%;
}

.hidden{
	display:none;
}

/* ========= END SECTION: UNIVERSALS =========*/



/* ========= SECTION: HEADER =========*/

.signedInHeader{
	height:40px;
	background-color: $base-green;
	border-bottom:1px solid $line-grey;
	li {
		line-height:40px;
	}
	li:hover{
		background-color:$top-green;
	}
	a{
		color:$light-green;
	}
	a:hover{
		color:white;
		text-decoration:none;
		img {
			background-color:$top-green;
		}
	}
}

/* ========= END SECTION: HEADER =========*/



.appManage {
	a {
		text-decoration:none;	
	}
}

/* ========= SECTION: EDITER ON APPS_LIST =========*/

.editer {
	background-color:$background-grey;
	border:1px solid $line-grey;
	margin-bottom: $standard-padding;
}

.editer-header {

	background-color:white;
	padding:$standard-padding;
	border-bottom: 1px solid $line-grey;
}

.editer-body{

	font-size:13px;
	line-height:19px;
}

.editer-main{
	padding:$standard-padding;
	border-right: 3px solid $line-grey;
}

.editer-right-bar{
	padding:$standard-padding;
}

.btn {
	width:97% !important;
}

/* ========= END SECTION: EDITER =========*/


.left-dashboard {
	background-color:$base-green;
	min-height:700px;
	height:100%;
	border-right:1px solid $line-grey;
	padding-left:25px;
	margin-left:-20px;
	a:hover{
		color:white;
		text-decoration:none;
		img {
			background-color:$top-green;
		}
	}
}

.footing {
	border-top:1px solid $line-grey;
	padding:$standard-padding;
}

.dash-area {
	padding-top:30px;
}

.app-title {
	border-bottom:1px solid $line-grey;
}