- comment_company = comment.get_company_for_comment
-if counter == 5
	.item
		=link_to 'http://on.fb.me/1c3n7z9', :target => '_blank' do 
			.light-blue-message
				.center-alignment
					=  image_tag('bsoc_logo.png')
					%h5 The UNSW Business Society with the ASB Young Alumni is presenting: Confessions of a Recent Graduate!
					This is a great opportunity to learn about the Alumni community that you will be a part of when you graduate, and find out more about where the degrees of these recent graduates have taken them! 
					%br
					%br
					%b October 17 6pm @ Deans Lounge ASB
					%br
					Click to find out more