- comment_company = comment.get_company_for_comment

.center-alignment.card-image
	= link_to image_tag(comment_company.logo.url(:thumb)), comment_company
%br
%br
= comment_company.name
\- 
= Category.find(comment.category_id).name
.row-fluid
	.span12
		%span(class="card-text")= link_to truncate((sanitize(comment.body)), length: 320), comment_company
%br
=link_to raw("Thank author &nbsp <i class=\"icon-thumbs-up\"></i> "), {:controller =>"comments", :action => "upvote", :id => comment.id}, method: :put, :class => "btn btn-small", :remote => true
.pull-right
	- thanks = comment.upvotes.size 
	- unless thanks == 0 
		%span[comment]
			=thanks
		have given thanks
