%h4(class="applist-area")
	Discover
.info-box-yellow
	.center-alignment
		=  image_tag('chemistry.png')
		%h5 Prepare during the off season!
		It's down season for internship and grad job apps. The perfect time to formulate getting ahead!	

=link_to 'http://www.careers.unsw.edu.au/', :target => '_blank' do 
	.info-box-light-teal
		.center-alignment
			=  image_tag('unsw.png')
			%h5 At UNSW? Don't lose a chance to stand out
			There's a brilliant team at UNSW Careers & Employment waiting to improve your resume and apps. Get in before its busy.
			
.info-box-light-orange
	.center-alignment
		=  image_tag('atom.png')
		%h5 ResumeQuery is an open platform
		Anyone can edit and add jobs or companies. Help build a powerful database of the best jobs for students so they can make the world a better place.