-@comments.each do |comment|
	- comment_company = comment.get_company_for_comment
	%p
		%b= comment_company.name
	.row
		.small-2.columns
			= link_to image_tag(comment_company.logo.url(:thumb)), comment_company			
		.small-10.columns.feed-text
			= link_to comment.body, comment_company
			.feed-subtext
				= link_to raw("Thank author &nbsp <i class=\"icon-thumbs-up\"></i> "), {:controller =>"comments", :action => "upvote", :id => comment.id}, method: :put, :class => "btn btn-small", :remote => true
				- thanks = comment.upvotes.size 
				- unless thanks == 0 
					%span[comment]
						=thanks
					have given thanks
	%hr

