.container.footing
	.row-fluid
		.span12
			%ul(class="inline")
				%li= link_to 'About', about_path 
				%li(class="pull-right")
					Best of luck this
					= Time.now.localtime.strftime("%A")
					!
