<div class="container">
	<div class="row">
	
		</br></br>
		<%=render 'staticpages/linebar'%>
	
		<div class="span12">
			<ul class="inline">
				<li><strong>resumeQuery</strong></li>
				<li>About Us</li>
				<li>Press</li>
				<li>Contact Us</li>
				<li>Privacy Policy</li>
			</ul>
		</div>
	

	</div>
</div>