.header
	.container
		.row-fluid
			.span3
				= link_to image_tag('menulogo.png'), root_path, :class => "menulogo"
			
			.span6
				=link_to companies_path do
					.my-jobs-button
						Companies
				=link_to upvoted_comments_path do
					.my-jobs-button
						My Upvoted Posts
						
				=link_to new_comment_path do
					.my-jobs-button
						Add advice
				
			.span3
				.pull-right
					=link_to invite_path do 
						.account-button
							&nbsp
							&nbsp 								
							Invite a friend					
							&nbsp
							&nbsp 		
					= link_to edit_user_registration_path do
						.account-button				
							= current_user.first_name
					=link_to destroy_user_session_path, :method =>"DELETE" do
						.account-button
							Log Out


.search-header.hidden
	.container
		.row-fluid
			.span3
				.tiny-pad
					=link_to "Graduate Jobs", graduate_jobs_path
					&nbsp &nbsp &nbsp
					=link_to "Internships", internships_path
			.span6
				= render 'layouts/swiftype'
				
			.span3
				.pull-right
					.tiny-pad-right
						=link_to "Add to our list of jobs", new_company_path
						