.header
	.container-fluid
		.row-fluid
			.span12		
				= link_to "New to ResQuery - Groups for discussions and feedback!", groups_path, :class=>"yellow-text"
				.pull-right
					- if current_user.role == "admin" 
						=link_to 'Admin', admin_path
					&nbsp &nbsp
					= link_to 'Help', suggestions_path
					&nbsp &nbsp
					= link_to 'Account Settings' , edit_user_registration_path 
					&nbsp &nbsp
					= link_to 'Log Out', destroy_user_session_path, :method =>"DELETE"