.header
	.container
		.row-fluid
			.span3
				= link_to image_tag('menulogo.png'), root_path, :class => "menulogo"
			
			.span6



				=link_to companies_path do
					.my-jobs-button
						%i(class="icon-certificate")
						Companies
			.span3
				.pull-right
					-if signed_in?
						= link_to edit_user_registration_path do
							.account-button
								%i(class="icon-user")
								&nbsp 						
								= current_user.first_name
						=link_to destroy_user_session_path, :method =>"DELETE" do
							.account-button
								Log Out
					-else
						=link_to new_user_registration_path do
							.account-button
								Sign Up
						=link_to new_user_session_path do
							.account-button
								Login

.search-header.hidden
	.container
		.row-fluid
			.span3
				.tiny-pad
					=link_to "Graduate Jobs", graduate_jobs_path
					&nbsp &nbsp &nbsp
					=link_to "Internships", internships_path
			.span6
				= render 'layouts/swiftype'
				
			.span3
				.pull-right
					.tiny-pad-right
						=link_to "Add to our list of jobs", new_company_path
						