<script type="text/javascript">
 

	var rQfeed = new Instafeed({
		target:'rQfeed',
    	get: 'tagged',
    	tagName: 'jobapps',
		limit: '6',
        clientId: 'dff714fb915a45459648a1fa496037fe',
		resolution: 'low_resolution',
        template: '<a class="animation" href="{{link}}"><img src="{{image}}" /></a>'
    });


	 rQfeed.run();
</script>

<div id="instafeed"></div>