<script type="text/javascript">
    var feed = new Instafeed({
        get: 'tagged',
        tagName: 'awesome',
        clientId: 'dff714fb915a45459648a1fa496037fe',
		  template: '<a href="{{link}}"><img src="{{image}}" /></a>'
    });
    feed.run();

</script>