.inside-text
	My Account

.insidebar

	.insidebar-item
		= link_to edit_user_registration_path do
			Account Settings
			
	.insidebar-item
		= link_to root_path do
			Our Strategy
	.insidebar-item
		= link_to(destroy_user_session_path,:method =>"DELETE") do
			Log Out


