<div class="left-dashboard">

	<div class="logo">
		<%= link_to image_tag('menulogo.png'), root_path %>
	</div>


	
	<div class="menu-area">
		<ul class="unstyled">
			<%= link_to root_path do %>
				<li><i class="icon-pencil  "></i> &nbsp My Jobs</li>
			<% end %>
			<%= link_to jobs_path do %>
				<li><i class="icon-briefcase  "></i> &nbsp  Job Opportunities </li>
			<% end %>
			<%= link_to companies_path do %>
				<li><i class="icon-certificate  "></i> &nbsp Companies </li>
			<% end %>
		</ul>
	</div>
	
	<div class="blank-area">
		
	</div>
	


</div>