%h6(class="applist-area")
	Click to quickly add all the jobs within your discipline

- @category.each_slice(4).to_a.each do |category_group|
	.row-fluid	
		-category_group.each do |category|
			.span3		
				= form_for :quicklist, :url => {:action=>"add_quick_follow_list"} do |f|
					=f.hidden_field :follow_number, :value => category.id
					=f.submit "#{category.discipline}", :class => "quicklist-box"	
