<div class="right-board">

	<div class="margin-top">
	</div>
	<div class="right-board-heading">
		Advice from HR
	</div>

	<div class="right-board-info">
		<b>"Take your time, be organised and thoughtful</b>
		as you do your applications. Advice here is nice, its calming and 
		gives legitimacy to the stuff under here"<br />
		-Joan Grey, HR at WKJames
	</div>
	
	<div class="right-board-heading ">
		These could help you:
	</div>

	<div class="right-board-info">
		<b>Standing out in an IB interview</b></br>
		<p>Lorem Ipsum Doren amintvae asdagaeh dadisein janugunlit</p>
	</div>
	
	<div class="right-board-info">
		<b>Cover Letter info</b></br>
		<p>Stuck on cover letters? We have a template</p>
	</div>
	
	<div class="right-board-info">
		<b>Secondary Helper</b></br>
		<p>Stuck on cover letters? We have a template</p>
	</div>
	

	
</div>
