<script type="text/javascript" src="https://gumroad.com/js/gumroad.js"></script>
<div class="right-board">
	
	<div class="right-board-info">
		<span class="pull-right pull-up">  Happy <%= Time.now.localtime.strftime("%A") %> ! &nbsp</span>
	</div>
	
	<div class="right-board-heading">
		Quotes
	</div>

	<div class="pad-top pad-bottom">
		<b>"The safest way to get what you want is to deserve what you want."</b><br />
		- Charlie Munger, Billionare & Vice-Chairman of Berkshire Hathaway
	</div>
	
	<div class="right-board-heading ">
		These could help you:
	</div>

	<div class="right-board-info">
		<%= link_to "http://www.resquery.com/articles/8" do %>
			<b>How to prepare for Internship season</b></br>
			<p>Read this article so you don't get overwhelmed in this stressful period</p>
		<% end %>
	</div>
	
	<% if false%>
	<div class="right-board-info center-alignment">
		<%= link_to "The ResQuery Investment Banking Cover Letter Template that works", "https://gumroad.com/l/IBcoverletter", :class=>"btn btn-info"%>
	</div>
	<% end %>
	
	<div class="right-board-info">
		<%= link_to "http://www.resquery.com/articles/1" do%>
			<b>Deal Knowledge for for successful interviews</b></br>
			<p>How to stand out against everyone else that reads the AFR</p>
		<% end %>
	</div>
	

	
</div>
