<div class="signedInHeader">
	
	<div class="container">
		<div class="row">
			<%= link_to 'resumeQuery signed in homepage', root_path %>
			<%= link_to 'sign out!', destroy_user_session_path, :method =>'delete' %>
		</div>
		
	</div>

</div>