<div class="signedInHeader">
	<div class="container-fluid">
		<div class="row-fluid">
			<%= link_to image_tag('resumeQuery_white.png'), root_path %>
			<div class="pull-right">
				<ul class="inline">
					<li><%= link_to 'User Settings', edit_user_registration_path %></li>
					<li><%= link_to 'Log Out', destroy_user_session_path, :method =>'delete' %></li>
				</ul>
			</div>	
		</div>
	</div>
</div>