.tiny-orange
.home-bar-area
	=link_to "About DemPoints", about_path
	&nbsp
	=link_to "Share Advice", new_comment_path
	&nbsp
	| &nbsp
	=link_to "Sign In", new_user_session_path
	&nbsp
	=link_to "Sign Up", new_user_registration_path, :class => "signinbox-button"
