<div id="wysihtml5-toolbar" style="display: none;">
  <ul class="inline">
    <li><a data-wysihtml5-command="bold"><b>bold</b></a></li>
    <li><a data-wysihtml5-command="italic"><i>italic</i></a></li>
	<li><a data-wysihtml5-command="insertUnorderedList"><i class="icon-list"></i> Bullets</a></li>
  </ul>
  <!-- Some wysihtml5 commands like 'createLink' require extra paramaters specified by the user (eg. href) -->
</div>